/china_medical_char_data_cleaned/train.tags.txt
/china_medical_char_data_cleaned/train.words.txt
/china_medical_char_data_cleaned/train_data.txt
/china_medical_char_data_cleaned/vocab.chars.txt
/china_medical_char_data_cleaned/vocab.tags.txt
/china_medical_char_data_cleaned/vocab.words.txt
/china_medical_char_data_cleaned/testa.tags.txt
/china_medical_char_data_cleaned/testa.words.txt
/china_medical_char_data_cleaned/testa_data.txt
/china_medical_char_data_cleaned/testb.tags.txt
/china_medical_char_data_cleaned/testb.words.txt
/china_medical_char_data_cleaned/testb_data.txt
/medical_char_data_cleaned/train.tags.txt
/medical_char_data_cleaned/train.words.txt
/medical_char_data_cleaned/train_data.txt
/medical_char_data_cleaned/vocab.chars.txt
/medical_char_data_cleaned/vocab.tags.txt
/medical_char_data_cleaned/vocab.words.txt
/medical_char_data_cleaned/testa.tags.txt
/medical_char_data_cleaned/testa.words.txt
/medical_char_data_cleaned/testa_data.txt
/medical_char_data_cleaned/testb.tags.txt
/medical_char_data_cleaned/testb.words.txt
/medical_char_data_cleaned/testb_data.txt
